* {
  background-color:rgb(166, 76, 226);
}
.Cabecalho{
  width: 100%;
  padding: 1px;
  background-color: rgba(237, 231, 245, 0.918);

}
.button-tutorial{
  background-color:  #4d02fc;
  border-radius: 9px;
}
.App-header{
  align-items: center;
  justify-content: center;
  text-align: center
}
.Text-home{
  font-family: Helvetica, sans-serif;
  font-size: 40px;
}
.Button-next-home{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.next-home{ 
   padding: 15px 15px;
    border: 1px solid #eee;
    border-radius: 9px;
    background-color: #4d02fc;
    font-size: 18px;
    width: 350px;
    top:50%;
    left:50%;
    color: white;
  
    
}